.help-text-area {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11pt;
    -fx-highlight-fill: #3e7b91;
    -fx-highlight-text-fill: white;
    -fx-text-fill: white;
}

.help-text-area .content {
    -fx-background-color: #383838;
    -fx-background-radius: 0;
}

.help-text-area:focused {
    -fx-border-color: #4d4d4d;
    -fx-border-width: 1;
}

#helpMessageContainer {
    -fx-border-top-width: 1px;
}

#helpMessage {
    -fx-font-family: "Segoe UI Light";
}
